
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobxile display -->
                <a class="navbar-brand logo_h" href="index"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
                        <li class="nav-item submenu dropdown active">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="category">Danh sách các sản phẩm</a></li>
                                <li class="nav-item"><a class="nav-link" href="checkout">Thanh toán sản phẩm</a></li>
                                <li class="nav-item active"><a class="nav-link" href="cart">Giỏ hàng</a></li>
                            </ul>
                        </li>
                       
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">Trang</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="login">Đăng nhập</a></li>
                               
                            </ul>
                        </li>
                    </ul>
                     <ul class="nav navbar-nav float-xs-right">

        <li class="dropdown dropdown-notification nav-item">&nbsp</li>
        <li class="dropdown dropdown-notification nav-item">&nbsp</li>

        </li>

        <li class="dropdown dropdown-user nav-item"><a href="#" data-toggle="dropdown"
            class="dropdown-toggle nav-link dropdown-user-link"><span class="avatar avatar-online"><img
                src="/images/logo/logo.png" alt="avatar"><i></i></span><span class="user-name">
                    <% var name= "Tài khoản";
                    var isLogin= "display: none";
                    var notLogin = ""
                    if(user != undefined) 
                        {
                          name = user.name; 
                          isLogin = "";
                          notLogin = "display: none"; 
                        } %>
                <strong><%= name %></strong>
            </span></a>
          <div class="dropdown-menu dropdown-menu-right">
            <div style="<%= notLogin %>">
                <a href="/login" class="dropdown-item">
                    <i class="ft-mail"></i> Đăng nhập</a>
                
            </div>
            <div style="<%= notLogin %>">
                <a href="/signup" class="dropdown-item">
                    <i class="ft-mail"></i> Đăng kí</a>
                
            </div>
            <div style="<%= isLogin %>">

                   
                <a href="/thong-tin-tai-khoan" class="dropdown-item"><i class="ft-power"></i>
                    Profile</a>
                    <div class="dropdown-divider"></div>
            </div>
            <div style="<%= isLogin %>">

                   
                <a href="/lich-su-mua-hang" class="dropdown-item"><i class="ft-power"></i>
                    Lịch sử mua hàng</a>
                    <div class="dropdown-divider"></div>
            </div>

            <div style="<%= isLogin %>">
                
                <a href="/logout" class="dropdown-item"><i class="ft-power"></i>
                    Đăng xuất</a>
            </div>
          </div>
        </li>
      </ul>
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
                        <li class="nav-item">
                            <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li>
                    </ul> -->
                <!-- </div>
            </div>
        </nav>
    </div>  -->
    <!-- </div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div> -->
</header>
